
fastapi
uvicorn[standard]
python-jose[cryptography]
bcrypt
python-multipart

pydantic
pydantic-settings
pydantic[email]

openai
langgraph
langchain-core

supabase

yfinance

httpx
beautifulsoup4

chromadb

langchain_nvidia_ai_endpoints

slowapi
